<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Relatório de Envio de Notebooks Pedentes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<header th:replace="fragments/header :: cabecalho">
	<div>header</div>
</header>
<body>
</body>
<div class="container my-5">
	<br />
	<div th:if="${msgErroHome}" class="alert alert-danger" role="alert">
		<p th:text="${msgErroHome}" />
	</div>
	<h3>Lista de Envio de Notebooks Pendentes</h3>
	<table th:if="${listaFuncionarios}" class="table table-striped">
		<thead>
			<tr>
				<td>Nome</td>
				<td>CPF</td>
				<td>Data de Admissão</td>
				<td>Necessita Notebook?</td>
				<td>Envio Ok?</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="funcionario : ${listaFuncionarios}">
				<td th:text="${funcionario.name}">.</td>
				<td th:text="${funcionario.CPF}">.</td>
				<td th:text="${funcionario.enrollmentDate}">.</td>
				<td th:text="${funcionario.necessitaNotebook ? 'Sim' : 'Não'}">.</td>
				<td th:text="${funcionario.send ? 'Sim' : 'Não'}">.</td>
				<td>
					<div class="btn-group pull-right">
						<a class="btn btn-sm btn-primary" th:if="true"
							th:href="@{/funcionarios/editar/{id}(id=${funcionario.id})}"
							id="btnEditarFuncionario">Editar</a> <a th:if="${!funcionario.send}"
							class="btn btn-sm btn-warning"
							th:href="@{/funcionarios/confirmarEnvio/{id}(id=${funcionario.id})}"
							id="btnConfirmarEnvio">Enviou</a> <a th:if="true"
							class="btn btn-sm btn-danger"
							th:href="@{/funcionarios/deletar/{id}(id=${funcionario.id})}"
							id="btnExcluirFuncionario">Deletar</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
<footer th:replace="fragments/footer :: rodape">
	<div>footer</div>
</footer>
</html>